#composer bloat
vendor/*
!vendor/mustangostang/spyc/*
!vendor/pixel418/markdownify
!vendor/autoload.php
!vendor/composer
vendor/**/docs
vendor/**/test
vendor/**/tests
vendor/**/examples
vendor/**/features
vendor/**/*.md
vendor/**/*.js
vendor/**/*.css
bin/
coverage.xml
composer.lock