language: php

php:
    - 5.5
    - 5.6
    - 7.0

env:
    - WP_VERSION=latest WP_MULTISITE=0
    - WP_VERSION=latest WP_MULTISITE=1
    - WP_VERSION=4.6 WP_MULTISITE=0
    - WP_VERSION=4.5 WP_MULTISITE=0
    - WP_VERSION=4.4 WP_MULTISITE=0
    - WP_VERSION=4.3 WP_MULTISITE=0

matrix:
  exclude:
    - php: 7.0
      env: WP_VERSION=4.5 WP_MULTISITE=0
    - php: 7.0
      env: WP_VERSION=4.5 WP_MULTISITE=0
    - php: 7.0
      env: WP_VERSION=4.4 WP_MULTISITE=0

before_script:
  - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - |
    if [[ ${TRAVIS_PHP_VERSION:0:3} == "7.0" ]]; then
      composer global require "phpunit/phpunit=5.6.*"
    else
      composer global require "phpunit/phpunit=4.8.*"
    fi
  - |
    composer global require wp-coding-standards/wpcs
    phpcs --config-set installed_paths $HOME/.composer/vendor/wp-coding-standards/wpcs

script:
  - phpcs --standard=phpcs.ruleset.xml $(find . -name '*.php')
  - phpunit

sudo: false
