<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="WPJE Tests">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<logging>
		<log type="coverage-clover" target="coverage.xml"/>
	</logging>
	<filter>
	  <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="false">
	    <directory suffix=".php">./includes</directory>
	    <file>./jekyll-export.php</file>
	  </whitelist>
	</filter>
</phpunit>