name: Generate POT file

on:
  push:
    branches:
      - master
  workflow_dispatch: {}

jobs:
  generate-pot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Install WP-POT-CLI
        run: npm install --global wp-pot-cli

      - name: Generate POT file
        run: script/build-pot

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
            commit-message: "Update POT file"
            title: "Update POT file"